In [2]:
import pandas as pd

In [5]:
movies_metadata = pd.read_csv("movies_metadata.csv", low_memory = False)

In [9]:
movies_metadata.sample(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
37332,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.ontheboweryfilm.com/,88051,tt0050800,en,On the Bowery,A mix of documentary and scripted footage on t...,...,1957-03-18,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,On the Bowery,False,6.3,9.0
32019,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,10270,tt0417844,de,Kampfansage - Der letzte Sch√ºler,No overview found.,...,2005-01-01,0.0,102.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,The Challenge,False,4.8,3.0
15789,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,8886,tt1008017,de,Palermo Shooting,After the wild life-style of a famous young Ge...,...,2008-11-20,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Palermo Shooting,False,5.1,14.0
4639,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,58062,tt0248912,en,Into the Arms of Strangers: Stories of the Kin...,The story of the child refugees who were trans...,...,2000-09-06,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In the nine months prior to World War II, 10,0...",Into the Arms of Strangers: Stories of the Kin...,False,7.8,6.0
22079,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",http://www.kingrecords.co.jp/bb/,15991,tt0974977,en,Bad Biology,"Driven by biological excess, a young man and w...",...,2008-02-08,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Something is very wrong here...,Bad Biology,False,4.7,45.0
23835,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276621,tt3822614,en,The Girl Who Talked to Dolphins,This is the story of the most extraordinary an...,...,2014-06-17,0.0,60.0,[],Released,NaN,The Girl Who Talked to Dolphins,False,5.5,1.0
6277,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,36807,tt0120142,en,The 6th Man,Antoine and Kenny Tyler are NCAA college baske...,...,1997-03-28,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're lifting the game to a higher level,The Sixth Man,False,5.0,23.0
42944,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.reich-derfilm.at/,167618,tt2180549,de,Der Fall Wilhelm Reich,"At the end of his life, Wilhelm Reich - psychi...",...,2013-01-17,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Strange Case of Wilhelm Reich,False,6.0,1.0
5868,False,NaN,18000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,12090,tt0305711,en,Just Married,Tom Leezak and Sarah McNerney fall in love and...,...,2003-01-09,101564935.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Welcome to the honeymoon from hell.,Just Married,False,5.3,415.0
6425,False,NaN,13000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,45096,tt0101831,en,Eve of Destruction,Eve is a military robot made to look exactly l...,...,1991-01-18,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They gave her looks. Brains. Nuclear capabilit...,Eve of Destruction,False,5.1,9.0

In [10]:
ratings = pd.read_csv("ratings.csv")

In [12]:
ratings.sample(10)

          userId  movieId  rating   timestamp
5096604    52456     1217     4.5  1135696195
25292471  263297     5544     4.0  1128819510
16418393  170665     2393     1.0   982948039
3229926    33580     1672     3.0  1003532701
17389837  180460   158813     5.0  1486946172
7349799    75770      145     2.0  1233815635
15991338  166426     2406     4.5  1184732395
21377114  222030     1246     4.0  1458329359
20383802  211882     2115     4.5  1501780963
11232532  116378    48231     5.0  1284586906